
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gold;
  min-width: 100vW;
  min-height: 100vh;
  padding-bottom: 20px;
 
}
body {
  margin: 0;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}

button {
  background-color: purple;
  color: white;
  height: 35px;
  width: 200px;
  border-radius: 6px;
  border-style: none;
  margin-top: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}
button:hover {
  background-color: rgb(155, 69, 155);
}
button:active {
  background-color: rgb(228, 29, 181);
}

input {
  margin-top: 5px;
  height: 28px;
  width: 200px;
  border-radius: 6px;
  font-weight: bold;
  border-color: rgb(155, 69, 155);
  color: rgb(155, 69, 155);
  font-size: 1.3rem;
  text-align: center;
}
input:active {
  border-style: none;
}




